@import 'normalize6.0.scss';

html,body{
    height: 100%;
    background-color: #f1f1f1;
}
ol,ul{
    list-style: none;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    border: none;
    outline: none;
    -webkit-appearance: none;
}
.clearfix::before,.clearfix::after{
    height: 0;
    content: '';
    overflow: hidden;
    clear: both;
    display: block;
}
.clearfix{
    zoom:1;
}
// 头部信息
#header{
    height: 50px;
    background-color: #f4483e;
    display: flex;
    align-items: center;
    .back{
        
        width: 30%;
        height: 50px;
        >a{
            display: block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-decoration: none;
        }
        a::before{
            color: white;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
    }
    h1{
        width: 60%;
        height: 50px;
        color: white;
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        line-height: 50px;
        margin: 0;
    }
    .home{
        width: 30%;
        height: 50px;
        >a{
            margin-left: 30px;
            width: 50px;
            height: 50px;
            display: block;
            background: url('../images/header_app.png')no-repeat center/32px 32px;
            
        }
    }
}
// 主体内容
#coupon-title{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: white;
    padding-bottom: 20px;
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            margin-bottom: 5px;
            margin-top: 5px;
            margin-left: 5px;
            text-align: center;
            height: 75px;
            width: 45%;
            border: 1px solid #b0b0b0;
            a{
                color: #000;
                text-decoration: none;
                img{
                    height: 50px;
                    width: 50px;
                    vertical-align: middle;
                }
            }
        }
    }
}

// 底部的布局
#ct100_foot {
    margin-top: 30px;
    background-color: #EFEFEF;
    .foot-top {
        height: 34px;
        width: 100%;
        display: flex;
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;
        a {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 34px;
            display: block;
            color: #666;
            line-height: 34px;
            border-right: 1px solid #c4c4c4;
            font-size: 14px;
        }
        a:nth-child(1) {
            width: 30%;
        }
        a:nth-child(2) {
            width: 30%;
        }
        a:nth-child(3) {
            width: 40%;
            display: flex;
            img {
                display: block;
                width: 15px;
                height: 15px;
            }
        }
    }
    .foot-bottom {
        padding: 15px 0;
        font-size: 12px;
        text-align: center;
        p:nth-child(1) {
            color: #666;
            a:first-child {
                color: red;
            }
            a:last-child {
                color: #000;
            }
        }
        p:nth-child(2) {
            text-align: center;
            color: #666;
        }
    }
}